@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Poppins:wght@400;500;700;800&family=Quicksand:wght@400;500;600&family=Righteous&family=Sedgwick+Ave+Display&family=Ubuntu:wght@500;700&display=swap');

:root{
  --blue:#14213d;
  --orange:#fca311;
  --gray:#f1f1f1;
  --blue-hover:#345499;
  --orange-hover:#ed6300;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--blue);
  padding: 10px 20px;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
}
.navbar > div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.navbar > div a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

.navbar .active{
  color: #fff;
  background-color: var(--orange);
  transform: scale(1.05);
}
.navbar > div > h2 {
  color: #fff;
  font-weight: 400;
}
.home-page{
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.user-page{
  max-width: 800px;
  padding-top: 40px ;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.user-page button{
  padding: 5px 10px;
  width: 70px;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
button.edit{
  background-color:var(--blue);
}
button.delete{
  background-color:var(--orange);
}

button.edit:hover{
  background-color:var(--blue-hover);
}
button.delete:hover{
  background-color:var(--orange-hover);
}
.contact-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 60px;
}
.contact-card{
  width: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-card > div > img {
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px 0 5px 0;
  width: 80px;
}
.contact-card > div > img:hover{
  transform: scale(1.1);
}
.contact-card > div:nth-child(1){
  background-color: #fff;
  width: 100%;
}
.contact-card > div:nth-child(2){
  padding: 8px;
  background-color: var(--gray);
  width: 100%;
}
.contact-card > div:nth-child(2) > div {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.contact-card > div:nth-child(2) span{
  vertical-align: middle;
}
.contact-card > div:nth-child(2) > h5{
  color: var(--blue-hover);
}
.contact-card > div:nth-child(2) > h3{
  font-weight: 400;
}
.add-user form h2{
  font-weight: 400;
  text-align: center;
}
.add-user form {
  margin: 50px auto;
  max-width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.add-user form input,
.btn,
.add-user select
{
  margin-bottom: 20px;
  border: 0.5px solid var(--blue);
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
}
.add-user form input:focus{
  outline: 2px solid rgb(129, 223, 254);
}
input[type="submit"],
input[type="button"],
.btn{
  color: #fff;
  border-radius: 2px;
  background-color: var(--blue);
  cursor: pointer;
  border: none !important;
  outline: none !important;
  transition: all 0.2s;
}
input[type="button"]{
  color: black;
  background-color: var(--orange-hover);
}
input[type="button"]:hover{
  transform: scale(1.05);
  background-color: var(--orange);
}
input[type="submit"]:hover{
  transform: scale(1.05);
  background-color: var(--blue-hover);
}
.loader{
  margin: 20px auto 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--blue);
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}
.navbar span{
  color: #fff;
  vertical-align: middle;
  display: none;
}
.home-page img {
  width: 500px;
}
.home-page > h1 {
  margin-top: 20px;
  font-weight: 400;
}
.home-page > div h2 {
  border-bottom: 2px solid var(--blue);
  font-weight: 400;
  margin-bottom: 8px;
}
.home-page > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page > div > div{
  margin-top: 20px;
  padding: 25px;
  text-align: start;
}
.home-page > div > div p {
  padding: 5px;
}
.home-page > div a {
  text-decoration: none;
  color: var(--orange-hover);
}

.custom-select-container div img {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
.btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn span {
  vertical-align: middle;
  padding-left: 5px;
}
.custom-select-container{
  position: relative;
}
.custom-select-container > div:nth-child(2){
  position: absolute;
  height: 200px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  overflow-y: scroll;
  right: 0;
  left: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  top:40px;
  transform: translateY(-160px) scale(0);
  transition: all .3s ease-in-out;
}
.custom-select-container > div >div{
  padding: 5px;
  cursor: pointer;
}
.custom-select-container > div:nth-child(2).open {
  transform: translateY(0) scale(1);
}
.notfound-page {
  margin-top: 40px;
  text-align: center;
}
.notfound-page h1{
  font-weight: 400;
}
.notfound-page a {
  text-decoration:none;
  color: var(--orange-hover);
}
.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #080e1a;
  display: flex;
  justify-content: center;
  color: #fff;
}
.footer p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer >div > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover{
  color: var(--orange-hover);
}


/* Media Queries */
@media only screen and (max-width:800px){
  .home-page img {
    display: none;
  }
  .home-page h1 {
    text-align: center;
  }
  .home-page > div > div{
    text-align: center;
  }
  h1{
    font-size: 18px;
  }
  h2 {
    font-size: 15px;
  }
  h3{
    font-size: 12px;
  }
  h5{
    font-size: 10px;
  }
  p, label, button, select, input {
    font-size: 12px;
  }
  .navbar a{
    font-size: 12px;
  }
}
@media only screen and (max-width:500px) {
  .navbar span{
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  .navbar {
    justify-content: space-between;
  }
 
  .navbar > div:nth-child(3){
    background-color: var(--blue);
    position: absolute;
    flex-direction: column;
    right: 0;
    left: 0;
    top: 45px;
    height: calc(100vh - 40px);
    bottom: 0;
    transform: translateX(-500px);
    transition: all 0.2s;
  }
  .navbar > div.open-popup{
    transform: translateX(0);
  }
 
  .navbar > div a {
    margin-right: 0;
    padding: 3px 10px;
    margin-bottom: 6px;
  }
  .toastBody {
    font-size: 9px !important;
  }
  .Toastify__toast-container {
    width: 180px !important;
  }
  .toast-position{
    left: 11rem !important;
  }
  .add-user label,
  .add-user select {
    font-size: 12px;
  }

  .contact-card{
    max-width: 120px;
  }
  .contact-card > div:nth-child(2) > div {
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }
}